/* #region page */
:root {
  --background-color: #5c5c5c;
  --background-color-secondary: #636363;

  --foreground-color: white;
}

* {
  font-family: sans-serif;
  font-size: 1rem;
}

html,
body {
  height: 100%;
  display: flex;
  flex-flow: column;
  background-color: var(--background-color);
  margin: 0;
}

header {
  flex: 0 1 auto;
}

#shop {
  flex: 0 1 auto;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}

footer {
  flex: 0 1 40px;
}

.swal2-popup,
.swal2-title {
  color: var(--foreground-color) !important;
  text-align: center
}

/* #endregion page */


/* #region elementwide */
button {
  cursor: pointer;
  user-select: none;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;

  &:hover {
    filter: brightness(85%)
  }

  & > i {
    pointer-events: none;
  }
}

span {
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* #endregion elementwide */

/* #region general classes */


/* #endregion general classes */

/* #region header */
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color-secondary);
  border-bottom: black solid 1px;
  gap: .5rem;
  margin: 0 0 0.5rem 0;
  padding: 0.25rem 0.5rem 0 0;

  & * {
    font-size: small;
  }

  & button {
    padding: 2.5px 5px;
    background-color: var(--background-color);
    font-size: smaller;
  }

  & > :first-child {
    margin-left: auto;
  }

  & > div[id$='container'] > [id$='list'] {
    display: none;
    position: absolute;
    background-color: color-mix(in srgb, var(--background-color) 80%, transparent);
    padding: 0 .25rem;
    border-radius: 5px;
    top: 1.5rem;
    right: 0;

    & button {
      background-color: var(--foreground-color)
    }
  }

  & > #options-container > #options-list {
    & > #saving > ul > li {
      &:not(:last-child) {
        margin-bottom: .25rem;
      }
      & > button#deleteSave {
        background-color: red;
      }
    }

  }

  & > #stats-container > #stats-list > li > #count-span {
    float: right;
    text-align: right;
    padding-left: .25rem;
  }
}

/* #endregion header */

/* #region main counter */
#the-button {
  background-color: rgb(67, 67, 196);
}

#count-container {
  width: 100%;
  align-content: center;
  text-align: center;
  user-select: none;
}

/* #endregion main counter */

/* #region shop */
/* #region general */
#shop {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color-secondary);
  border: black solid 1px;
  border-radius: 5px;
  gap: 1rem;

  &:not(:has(#shop-items > ul > li > button.unlocked)) {
    display: none;
  }

  & > * {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & > h1 {
      margin-top: 0;
    }

    & > ul > li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0.5rem 0;
    }
  }
}

/* #endregion general */

/* #region shop items */
#shop-items {
  border-right: 1px solid black;
}

#shop-items > ul > li > button {
  background-color: green;

  &:not(.unlocked) {
    display: none;
  }

  &:not(.affordable) {
    cursor: not-allowed;
    background-color: #004b00;
    filter: none;
  }

  &:hover .hover-info-container {
    display: block;
  }

  & > .hover-info-container {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 75%);
    border-radius: 5px;
    padding: 2px;
    z-index: 1;
    transform: translate(220%, -100%);

    & > p {
      color: var(--foreground-color);
      font-size: 0.75rem;
      margin: 0;

      & > span {
        text-align: right;
        font-size: inherit;
        float: right;
      }
    }
  }
}

/* #endregion shop items */

/* #region shop levels */
#level-overview {
  border-left: 1px solid black;

  &:not(:has(ul > li > span:not(:empty))) {
    display: none;
  }

  & > h1 {
    text-align: right;
  }

  & > ul > li {
    &:has(span:empty) {
      display: none;
    }

    & > span {
      text-align: right;
      min-width: 2rem;
    }
  }
}

/* #endregion shop levels */
/* #endregion shop */