/* #region page */
:root {
  --background-color: #5c5c5c;
  --background-color-brighter: #636363;

  --foreground-color: white;
}

* {
  font-family: sans-serif;
  font-size: 1rem;
}

html,
body {
  height: 100%;
  display: flex;
  flex-flow: column;
  background-color: var(--background-color);
}

header {
  flex: 0 1 auto;
}

main {
  flex: 1 1 auto;
}

/* footer {
  flex: 0 1 40px;
} */

.swal2-popup,
.swal2-title {
  color: var(--foreground-color) !important;
}

/* #endregion page */


/* #region elementwide */
button {
  cursor: pointer;
  user-select: none;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
}

button:hover {
  filter: brightness(85%);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* #endregion elementwide */

/* #region general classes */


/* #endregion general classes */

/* #region main counter */
#the-button {
  background-color: rgb(67, 67, 196);
}

#count-container {
  width: 100%;
  align-content: center;
  text-align: center;
  user-select: none;
}

#count-container > * > span {
  font-weight: bold;
}
/* #endregion main counter */

/* #region shop */
#shop {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color-brighter);
  border: black solid 1px;
  border-radius: 5px;
  gap: 1rem;
}

#shop:not(:has(#shop-items > ul > li > button.unlocked)) {
  display: none;
}

#shop > * > h1 {
  margin-top: 0;
}

#shop > * > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#shop > * > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

#level-overview,
#shop-items {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* #region shop items */
#shop-items {
  border-right: 1px solid black;
}

#shop-items > ul > li > button:not(.unlocked) {
  display: none;
}

#shop-items > ul > li > button:not(.affordable) {
  filter: brightness(50%);
  cursor: not-allowed;
}

#shop-items > ul > li > button:not(.affordable):active {
  pointer-events: none;
}

#shop-items > ul > li > button {
  background-color: green;
}
/* #endregion shop items */

/* #region shop levels */
#level-overview {
  border-left: 1px solid black;
}

#level-overview:not(:has(ul > li > span:not(:empty))) {
  display: none;
}

#level-overview > h1 {
  text-align: right;
}

#level-overview > ul > li:has(span:empty) {
  display: none;
}

#level-overview > ul > li > span {
  text-align: right;
  min-width: 2rem;
}
/* #endregion shop levels */
/* #endregion shop */